body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Arial', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 10px 0;
}

nav {
    display: flex;
    background-color: #333;
    color: white;
}

nav a {
    flex-grow: 1;
    padding: 10px;
    text-align: center;
    color: white;
    text-decoration: none;
    background-color: #333;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #555;
}

.content {
    flex-grow: 1;
    background: #fff;
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}