table{
    margin: auto;
    border: 1px solid black;
    border-collapse: collapse;
    display: block;
    max-height: 400px;
	overflow-y: auto;
    width: fit-content;
}

thead{
    position: sticky; top: 0;
    background-color: white;
}

th, td{
    border: 1px solid black;
    padding: 5px;
}