.btn-green {
    background-color: green;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    text-align: center;
    display: block;
    margin: 10px auto;
    cursor: pointer;
    margin-top: 25px;
}

.content{
    padding-top: 50px;
}

form > div{
    display: block;
    margin: 5px;
}

#employeeInfo {
    margin-top: 50px;
}